{% extends 'index.html' %}

{% block title %}Home | {% endblock %}

{% block content %}

<div class="container">
    <div>
      <div id="sketch"></div>
      <div class="editor">
        <div></div>
      </div>
    </div>
    <div class="chat">
      <div class="messages">
      </div>
      <div class="input">
        <input type="text" />
        <button>Send</button>
      </div>
    </div>
</div>
<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/`;
    const chatSocket = new WebSocket(url);
    
    chatSocket.onmessage = function (e) {
      let data = JSON.parse(e.data);
      console.log(data);
      if(data.type=="init") {
        data.cood.forEach(serverDraw);
        data.chat.forEach(addMessage);
      }
      if (data.type == "draw") serverDraw(data);
      if (data.type == "chat") addMessage(data);
    }

    let editor = document.querySelector(".editor");
    let sketch = document.querySelector("#sketch");
    let nav = document.querySelector("nav");
    let timeout;
    let notResizing = true;
    new ResizeObserver(() => {
      let setHeight = window.innerHeight - sketch.offsetHeight - nav.offsetHeight;
      if (!isNaN(setHeight)) editor.style.height = setHeight + "px";
      notResizing = false;
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        notResizing = true;
      }, 100);
    }).observe(sketch);
  
</script>
<script src="static/js/sketch.js"></script>
<script src="static/js/chat.js"></script>
{% endblock %}