{% extends 'index.html' %} 
{% load static %}
{% block title %}Home | {% endblock %} 
{% block content %}

<div class="container">
  <div>
    <div id="sketch"></div>
    <div class="editor">
      <div class="control-panel">
        Code Editor
        <div class="theme-select">
          Select Theme: &nbsp; &nbsp;
          <select id="themes" class="themes" onchange="changeTheme()">
            <option value="monokai">Dark</option>
            <option value="chrome">Light</option>
          </select>
        </div>
        <div class="language-select">
          Select Language: &nbsp; &nbsp;
          <select id="languages" class="languages" onchange="changeLanguage()">
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="node">Node JS</option>
          </select>
        </div>
        <div class="font-size">
          Select Size: &nbsp; &nbsp;
          <select id="sizes" class="sizes" onchange="changeSize()">
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="16">16</option>
          </select>
        </div>
      </div>
      <div id="editor"></div>
    </div>
  </div>
  <div class="chat">
    <div class="messages">
      <center>
        <h2 style="color: White; margin-bottom: 20px">Chat Box</h2>
      </center>
    </div>
    <div class="input">
      <input type="text" class="typemsg" placeholder="Type Message" style="width: 80%;"/>
      <button class="sendbtn">send</button>
    </div>
  </div>
  <div class="panel">
    <button
      style="background-color: black; width: 12px; height: 12px"
      onclick="changeColor('black')"
    ></button>
    <button
      style="background-color: red; width: 12px; height: 12px"
      onclick="changeColor('red')"
    ></button>
    <button
      style="background-color: yellow; width: 12px; height: 12px"
      onclick="changeColor('yellow')"
    ></button>
    <button
      style="background-color: blue; width: 12px; height: 12px"
      onclick="changeColor('blue')"
    ></button>
    <button
      style="background-color: green; width: 12px; height: 12px"
      onclick="changeColor('green')"
    ></button>
    <button
      style="background-color: white; width: 12px; height: 12px"
      onclick="changeColor('white')"
    ></button>
    <button class="clear" onclick="clearCan()">clear</button>
    <select id="weights" class="weights" onchange="changeWeight()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</div>
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 122.88" class="leave" onclick="endSession()">
    <defs>
      <style>
        .cls-1 {
          fill: #ff3b30;
          fill-rule: evenodd;
        }
      </style>
    </defs>
    <title>end-call</title>
    <path class="cls-1"
      d="M104.89,104.89a61.47,61.47,0,1,1,18-43.45,61.21,61.21,0,0,1-18,43.45ZM74.59,55.72a49.79,49.79,0,0,0-12.38-2.07A41.52,41.52,0,0,0,48,55.8a1.16,1.16,0,0,0-.74.67,4.53,4.53,0,0,0-.27,1.7,16.14,16.14,0,0,0,.2,2c.42,3,.93,6.8-2.42,8l-.22.07-12,3.24-.12,0A4.85,4.85,0,0,1,28,70a11.44,11.44,0,0,1-2.68-4.92,11,11,0,0,1,.42-6.93A23.69,23.69,0,0,1,29,52.39,21.52,21.52,0,0,1,36.55,46a42.74,42.74,0,0,1,10.33-3.6l.29-.07C49,42,51,41.48,53.08,41.17a62.76,62.76,0,0,1,25.14,1.59c6.87,2,13,5.43,16.8,10.7a13.88,13.88,0,0,1,2.92,9.59,12.64,12.64,0,0,1-4.88,8.43,1.34,1.34,0,0,1-1.26.28L78.6,68.38A3.69,3.69,0,0,1,75.41,66a7.73,7.73,0,0,1-.22-4,15.21,15.21,0,0,1,.22-1.6c.3-1.89.63-4.06-.89-4.72Z" />
  </svg>
<script type="text/javascript">
  let username="{{request.user}}";
  let url = `ws://${window.location.host}/ws/${window.location.pathname.slice(1,-1)}`;
  const chatSocket = new WebSocket(url);
  let cood,isOwner=false;
  chatSocket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    if (data.type == "room deleted") window.location.replace("/");
    if (data.type == "init") {
      cood = data.cood;
      data.chat.forEach(addMessage);
      editText(data.text);
    }
    if (data.type == "draw") serverDraw(data);
    if (data.type == "chat") addMessage(data);
    if (data.type == "edit") editText(data);
    if (data.type == "lang-change") changeLang(data);
    if (data.type == "clear") clearC();
    if (data.owner == username) 
      isOwner=true
  };

  let editorC = document.querySelector(".editor");
  let sketch = document.querySelector("#sketch");
  let nav = document.querySelector("nav");
  let timeout;
  let notResizing = true;
  new ResizeObserver(() => {
    let setHeight = window.innerHeight - sketch.offsetHeight - nav.offsetHeight;
    if (!isNaN(setHeight)) {
      editorC.style.height = setHeight + "px";
    }
    notResizing = false;
    clearTimeout(timeout);
    timeout = setTimeout(() => {
      notResizing = true;
    }, 100);
  }).observe(sketch);

  function endSession() {
    if(isOwner)
      chatSocket.send(JSON.stringify({ type: "end" }));
    window.location.replace("/");
  }
</script>
<script src="{% static  '/js/sketch.js' %}"></script>
<script src="{% static  '/js/chat.js' %}"></script>
<script src="{% static  '/js/lib/ace.js' %}"></script>
<script src="{% static  '/js/lib/theme-monokai.js' %}"></script>
<script src="{% static  '/js/editor.js' %}"></script>
{% endblock %}
