{% extends 'index.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}

<div class="body">
    <div class="main-form">
        <div class="form">
            <h2>LOGIN</h2>

            <form method="POST" class="form1" action="." id="loginform">
                {% csrf_token %}
                <div class="email">
                    <div class="icon">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="text">
                        <input type="text" id="UserName" placeholder="username" name="username" value="" required>
                    </div>
                </div>
                <div class="email">
                    <div class="icon">
                        <span class="fa fa-lock"></span>
                    </div>
                    <div class="text">
                        <input type="Password" id="password" placeholder="Password" name="password" value="" required>
                    </div>
                </div>
                <!-- <div class="forgot">
                    <a href="">Forgot Password ?</a>
                </div> -->
                <br />
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <p class="error">{{ error|escape }}</p>
                {% endfor %}
                {% endfor %}
                {%endif%}
                <button class="btn">Log in</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}