{% extends 'index.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}

<body class="body">
    <div class="main-form">
        <div class="form">
            <h2>SIGN UP</h2>
            <form method="POST" action="" class="form1">
                {% csrf_token %}
                <div class="email">
                    <div class="icon">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="text">
                        <input type="text" placeholder="Enter Your Username" id="UserName" name="username" required>
                    </div>
                </div>

                <div class="email">
                    <div class="icon">
                        <span class="fa fa-envelope"></span>
                    </div>
                    <div class="text">
                        <input type="text" placeholder="Enter Your Email" id="Email" name="email" required>
                    </div>
                </div>

                <div class="email">
                    <div class="icon">
                        <span class="fa fa-lock"></span>
                    </div>
                    <div class="text">
                        <input type="password" placeholder="Enter Your Password" id="password" name="password1"
                            required>
                    </div>
                </div>
                <div class="forgot" style="color: #003a6c; font-size: 15px;font-family: 'Open Sans', sans-serif;">
                    <input type="checkbox" onclick="myFunction('password')"><b style="padding-left: 5px;">Show
                        Password</b></input>
                </div>
                <div class="email">
                    <div class="icon">
                        <span class="fa fa-lock"></span>
                    </div>
                    <div class="text">
                        <input type="password" placeholder="Confirm Password" id="confirm_password" name="password2"
                            value="" required>

                    </div>
                </div>
                <div class="forgot" style="color: #003a6c; font-size: 15px;font-family: 'Open Sans', sans-serif;">
                    <input type="checkbox" onclick="myFunction('confirm_password')"><b style="padding-left: 5px;">Show
                        Password</b></input>
                </div>

                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <p class="error">{{ error|escape }}</p>
                {% endfor %}
                {% endfor %}
                {%endif%}
                <button class="btn">Submit</button>

            </form>
        </div>
    </div>

</body>
<script>
    function myFunction(str1) {
        var x = document.getElementById(str1);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

{% endblock %}